header h1 {
  display: none;
}

header ul {
  margin: 0;
}

textarea {
  font-size: 0.5em;
}

.page {
  margin: 1em 0;
}

th:nth-child(3), td:nth-child(3),
th:nth-child(4), td:nth-child(4),
th:nth-child(5), td:nth-child(5) {
  display: none;
}

.page.config details {
  display: none;
}