body {
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 2em;
}

.room-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.room-list .room {
  position: relative;
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #666;
  width: 15vw;
  min-height: 3.5em;
  background-color: #333;
}

.room.occupied {
  background-color: #621c1c;
}

.room.free {
}

.room-participants {
  font-family: CiscoSansRegular;
  font-weight: bold;
}

.room .status {
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  display: flex;
  justify-content: flex-end;
}

input, label {
  color: inherit;
}

input {
  background-color: #444;
  border: 1px solid #666;
  outline: 1px solid #0ac;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
  }

  .room-list .room {
    width: 40vw;
  }
}